PORT=3000
DATABASE_URL=postgresql://postgres.xxxxx:[SENHA]@aws-0-us-east-1.pooler.supabase.com:6543/postgres
DB_SSL=true
JWT_SECRET=change_me_in_production
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d
ADMIN_NAME=Administrador
ADMIN_EMAIL=admin@madugate.com
ADMIN_PASSWORD=change_me_admin
